@font-face {
    font-family: "Lalezar";
    src: url("../public/font/Lalezar-Font/TTF/Lalezar-Regular.ttf");
}


* {
    font-family: Lalezar;
}
body {
    margin: 0%;
    padding: 0%;
    height: 100%;
}
